.alertform{
    .chs{
        color:#0d6efd
    }
    .css-1rhbuit-multiValue{
        border-radius: 20px !important;
        padding: 4px 10px !important;
        font-size: 12px !important;
        font-weight: 500 !important;
        margin-right: 3.75px !important;
        margin-bottom: 3.75px !important;
        background-color: #00bcd4 !important;
        border: 1px solid #00a5bb !important;
        color: #fff !important;
        width: 97% !important;
    
    }
    .css-12jo7m5{
        color: white !important;
        font-weight: 600 !important;
    }
}


