$background-color: rgb(49,140,231) ;
$background-position-center:center center;
$background-size-cover:cover;
$border-radius-50:50%;
$background-color-black:0 4px 4px rgba(0,0,0,.1);
$background-color-blue:rgba(0, 35, 82, 0.7);
$border-radius-10: 10px 10px 10px 10px;
$box-shadow-black:0 30px 60px 0 rgba(0,0,0,0.3);
$width-full:100%;


$color-grey:#8d8d8dfa;
$color-blue:#5867dd;
$color-grey:#999;
$color-greys:#5e5d5d;
$color-white:white;
$color-green:#60ad56;
$color-skyblue:#5fbae9;
$color-skyblues:#92badd;
$color-skybluess:#56baed;
$color-black: black;

$font-size:12px;
$font-size-18:18px;
$font-size-16:16px;
$font-size-20:20px;
$font-weight-600:600;
$font-family:tahoma, arial, helvetica, sans-serif;

$p-400 :400;
$position-absolute: absolute;
$position-relative:relative;

$top-0: 0;
$left-0: 0;

$height:600px;
$height-500:500px;
$height-full:100%;


$text-align:center;