    
    .reviewrating{
       .bg-white{
        box-shadow: $box-shadow-black-1 !important;
        border-radius: 15px !important;
       }
       .reviews-members{
        margin-bottom: 17px;
        border-bottom: solid 1px #ebe8e6;
       }
       .names{
        font-size: 23px;
        font-weight: 700;
        letter-spacing: 2px;
       }
       .dt{
        margin-top: -14px;
       }
       .sar{
           text-decoration: none;
       }
       .ml{
        margin-left: 24px;
       }
       .wd{
        width: 150%;
    
       }
        .product-rating {
            font-size: 50px
        }
       
        .stars i {
            font-size: 18px;
            color: $background-color-yellow;
        }
       
        .rating-text {
            margin-top: 10px
        }

        .cn{
            width: 106%;
             margin-left: -22px;
             border: none;
             
                 }

                 .total-like-user-main a {
                    display: inline-block;
                    margin: 0 -17px 0 0;
                }
                .total-like {
                    border: 1px solid;
                    border-radius: 50px;
                    display: inline-block;
                    font-weight: 500;
                    height: 34px;
                    line-height: 33px;
                    padding: 0 13px;
                    vertical-align: top;
                }
                .restaurant-detailed-ratings-and-reviews hr {
                    margin: 0 -24px;
                }
                .graph-star-rating-header .star-rating {
                    font-size: 17px;
                }
                .progress {
                  
                    border-radius: 15px !important;
                    background: #f2f4f8 none repeat scroll 0 0;
                    height: 16px;

                }
                .rating-list {
                    display: inline-flex;
                    margin-bottom: 15px;
                    width: 100%;
                    font-weight: $font-weight-500;
                }
                .rating-list-left {
                    height: 16px;
                    line-height: 29px;
                    width: 10%;
                }
                .rating-list-center {
                    width: 80%;
                }
                .rating-list-right {
                    line-height: 29px;
                    text-align: right;
                    width: 10%;
                }
              
               
                .text-black {
                    color: #000000;
                }
                .icon-overlap {
                    bottom: -23px;
                    font-size: 74px;
                    opacity: 0.23;
                    position: absolute;
                    right: -32px;
                }
                .menu-list img {
                    width: 41px;
                    height: 41px;
                    object-fit: cover;
                }
                .restaurant-detailed-header-left img {
                    width: 88px;
                    height: 88px;
                    border-radius: 3px;
                    object-fit: cover;
                    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
                }
                .reviews-members .media .mr-3 {
                    width: 56px;
                    height: 56px;
                    object-fit: cover;
                }
                .rounded-pill {
                    border-radius: 50rem!important;
                }
                .total-like-user {
                    border: 2px solid #fff;
                    height: 34px;
                    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
                    width: 34px;
                }
                .total-like-user-main a {
                    display: inline-block;
                    margin: 0 -17px 0 0;
                }
                .total-like {
                    border: 1px solid;
                    border-radius: 50px;
                    display: inline-block;
                    font-weight: 500;
                    height: 34px;
                    line-height: 33px;
                    padding: 0 13px;
                    vertical-align: top;
                }
                .restaurant-detailed-ratings-and-reviews hr {
                    margin: 0 -24px;
                }
                .graph-star-rating-header .star-rating {
                    font-size: 17px;
                }
                .progress {
                    background: #f2f4f8 none repeat scroll 0 0;
                    height: 16px;
                }
                .rating-list {
                    display: inline-flex;
                    margin-bottom: 15px;
                    width: 100%;
                }
                .rating-list-left {
                    height: 16px;
                    line-height: 29px;
                    width: 11%;
                }
                .rating-list-center {
                    width: 80%;
                }
                .rating-list-right {
                    line-height: 29px;
                    text-align: right;
                    width: 10%;
                }
                .restaurant-slider-pics {
                    bottom: 0;
                    font-size: 12px;
                    left: 0;
                    z-index: 999;
                    padding: 0 10px;
                }
                .restaurant-slider-view-all {
                    bottom: 15px;
                    right: 15px;
                    z-index: 999;
                }
                
               

                .poe{
                    width: 136.4px;
                }
                .ab {
                    width: 56%
                }
               
                .cd{
                    width: 23%
                }
                .de{
                    width: 11%
                }
                .ef{
                    width: 2%
                }
                .progress-bar{
                   background-color: $background-color-yellow !important;
                }
                
                               
             }
    