
.profile{
    

.ratings{ i {
    font-size: 16px;
    color: red
}
}

.strike-text {
    color: red;
    text-decoration: line-through
}

.product-image {
    width: 100%
}

.dot {
    height: 7px;
    width: 7px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block
}

.spec-1 {
    color: #938787;
    font-size: 15px
}

h5 {
    font-weight: 400
}

.para {
    font-size: 16px
}

    .img-fluid{
        border-radius: 15px 50px !important;
    }
    .border{
        border-radius: 15px 50px !important;
    border: none !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .qual{
        margin: -16px 0px 0px -8px;
        h6{
            font-size: 16px !important;
        }
        .grade{
            margin: -12px 0px 0 0;
        }
        .class{
            @extend .grade;
        }
        .subject{
            margin-top: -4px;
        }
        .class{
            margin-top:-16px;
        }
    }
    .imag{
        height: 195px;
    }
    //Button
    .a{
        text-decoration: none;
        color:black !important
    }
    .btn6{
        padding: 13px 0;
        border: 1px solid $color-skybluess;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 3px;
        transition: all .2s ease-in-out;
        
        &:hover {
          background: $color-skybluess;
          border: 1px solid $color-skybluess !important;
          color: #fefefe !important;
          border-radius: 30px;
        }
        &:link{
            @extend .btn6;
        }
        &:visited {
            @extend .btn6;
        }
      }
      
      
}
